:host{
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  padding: 0 1%;
}

.router-link-active{
  background-color: var(--white-color);
  color: var(--primary-color);
}
